$colors: (
  red: (#ffcdd2, #ef9a9a, #e57373, #ef5350, #f44336),
  blue: (#bbdefb, #90caf9, #64b5f6, #42a5f5, #2196f3),
  green: (#c8e6c9, #a5d6a7, #81c784, #66bb6a, #4caf50),
  purple: (#e1bee7, #ce93d8, #ba68c8, #ab47bc, #9c27b0),
  yellow: (#fff9c4, #fff59d, #fff176, #ffee58, #ffeb3b),
  orange: (#ffe0b2, #ffcc80, #ffb74d, #ffa726, #ff9800)
);

$paddings: (
        2px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 36px,
        40px, 48px, 56px, 64px, 72px, 80px, 96px, 112px, 128px, 144px
);

$margins: (
        2px, 4px, 8px, 10px, 12px, 16px, 20px, 24px, 30px, 36px,
        40px, 48px, 56px, 64px, 72px, 80px, 96px, 112px, 128px, 144px
);